<%= form_for(@topic) do |f| %>

  <div class="field">
    <%= f.text_area :title, "placeholder"=>"Submit a new controversial topic/question! ..."%></br>
  </div>

  <div class="field">
    <%= f.text_area :description, "placeholder"=>"Add a brief, objective description of your topic ..." %>
  </div>
  <div class="actions">
    <%= f.submit "Submit!"%>
  </div>
<% end %>