<div data-role="navbar" data-iconpos="left" style="background-color:#303030;">
</div>

<div data-role="content", style="padding: 0.8em 0.1em 0 0.1em">
	<ul data-role="listview" data-filter="true" data-inset="true" data-filter-placeholder="Filter Topics...">
		<% toggle = 0 %>
		<% @topics.each do |i| %>
			<% if toggle % 2 == 0 %>
				<li><%= link_to i.title, i, {"style"=>"white-space: normal; line-height:135%; font-size: 0.8em; padding: 0.5em 2.2em 0.5em 0.5em;", "data-ajax"=>"false"}%></li>
			<% else %>
				<li><%= link_to i.title, i, {"style"=>"white-space: normal; line-height:135%; font-size: 0.8em; color:#191997; padding: 0.5em 2.2em 0.5em 0.5em;", "data-ajax"=>"false"}%></li>
			<% end %>
			<% toggle += 1%>
		<% end %>
	</ul>
</div>