<div data-role="navbar" data-iconpos="left" style="background-color:#303030;">
	<ul>
		<li><%= link_to "fuseGap", "#", {"data-role"=>"button", "data-mini"=>"true", "data-icon"=>"home", "data-theme"=>"a"}%></li>
		<li><%= link_to "Profile", "#", {"data-role"=>"button", "data-mini"=>"true", "data-icon"=>"grid", "data-theme"=>"a"}%></li>
	</ul>
</div>

<div data-role="content", style="padding: 0.8em 0.2em 0 0.2em">
	<ul data-role="listview" data-filter="true" data-inset="true" data-filter-placeholder="Filter Topics...">
		<% toggle = 0 %>
		<% @topics.each do |i| %>
			<% if toggle % 2 == 0 %>
				<li><%= link_to i.title, i, {"style"=>"white-space: normal; line-height:135%; font-size: 0.9em;", "data-ajax"=>"false"}%></li>
			<% else %>
				<li><%= link_to i.title, i, {"style"=>"white-space: normal; line-height:135%; font-size: 0.9em; color:#0f4880", "data-ajax"=>"false"}%></li>
			<% end %>
			<% toggle += 1%>
		<% end %>
	</ul>
</div>